##Add the durations in days using start and end dates

###Modified local (Shweta) dataset from the Humanitarian Data Exchange (https://data.hdx.rwlabs.org/)
####I have previously added the "Start date" and "End date" columns manually

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ebola = pd.read_csv("data/in/ebola-outbreaks-before-2014.csv")

In [3]:
df_ebola.head()

,Start date,End date,Year(s),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01,2013-01-31,November 2012-January 2013,Uganda,Sudan virus,6,3,0.500
1,2012-06-01,2012-11-30,June-November 2012,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2012-06-01,2012-10-31,June-October 2012,Uganda,Sudan virus,11,4,0.364
3,2011-05-01,2011-05-01,2011-05-01,Uganda,Sudan virus,1,1,1.000
4,2008-12-01,2009-02-28,December 2008-February 2009,Democratic Republic of the Congo,Zaire virus,32,15,0.470

In [4]:
start, end = df_ebola["Start date"][0], df_ebola["End date"][0]

In [5]:
abs(pd.to_datetime(start) - pd.to_datetime(end))

Timedelta('91 days 00:00:00')

In [7]:
start_datetime, end_datetime = [], []
for i in range(len(df_ebola)):
    start_datetime.append(pd.to_datetime(df_ebola["Start date"][i]))
    end_datetime.append(pd.to_datetime(df_ebola["End date"][i]))

print (start_datetime[:2])

[Timestamp('2012-11-01 00:00:00'), Timestamp('2012-06-01 00:00:00')]

In [8]:
df_ebola.insert(0, "Start_Datetime_new", start_datetime)
df_ebola.insert(2, "End_Datetime_new", end_datetime)

In [9]:
df_ebola.head()

,Start_Datetime_new,Start date,End_Datetime_new,End date,Year(s),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01,2012-11-01,2013-01-31,2013-01-31,November 2012-January 2013,Uganda,Sudan virus,6,3,0.500
1,2012-06-01,2012-06-01,2012-11-30,2012-11-30,June-November 2012,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2012-06-01,2012-06-01,2012-10-31,2012-10-31,June-October 2012,Uganda,Sudan virus,11,4,0.364
3,2011-05-01,2011-05-01,2011-05-01,2011-05-01,2011-05-01,Uganda,Sudan virus,1,1,1.000
4,2008-12-01,2008-12-01,2009-02-28,2009-02-28,December 2008-February 2009,Democratic Republic of the Congo,Zaire virus,32,15,0.470

In [12]:
duration = []
for i in range(len(df_ebola)):
    duration.append(abs(df_ebola["Start_Datetime_new"][i] - df_ebola["End_Datetime_new"][i]))
    
print (duration[:3])

[Timedelta('91 days 00:00:00'), Timedelta('182 days 00:00:00'), Timedelta('152 days 00:00:00')]

In [13]:
#print duration[0]

## Get the number of days from thee "duration" time deltas:
duration_d = [x / np.timedelta64(1, 'D') for x in duration]

#print duration_d[0]

In [14]:
df_ebola.insert(4, "Duration (days)", duration_d)

In [15]:
df_ebola.head()

,Start_Datetime_new,Start date,End_Datetime_new,End date,Duration (days),Year(s),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01,2012-11-01,2013-01-31,2013-01-31,91.0,November 2012-January 2013,Uganda,Sudan virus,6,3,0.500
1,2012-06-01,2012-06-01,2012-11-30,2012-11-30,182.0,June-November 2012,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2012-06-01,2012-06-01,2012-10-31,2012-10-31,152.0,June-October 2012,Uganda,Sudan virus,11,4,0.364
3,2011-05-01,2011-05-01,2011-05-01,2011-05-01,0.0,2011-05-01,Uganda,Sudan virus,1,1,1.000
4,2008-12-01,2008-12-01,2009-02-28,2009-02-28,89.0,December 2008-February 2009,Democratic Republic of the Congo,Zaire virus,32,15,0.470

In [17]:
df_ebola.to_csv("data/out/ebola-outbreaks-before-2014-dates.csv")